.cmn-btn {
  background-color: $color-main;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  a:link,
  :visited {
    color: $color-bg;
  }

  a {
    color: $color-bg;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
  }

  a::before,
  a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }

  a::before {
    background-color: $color-bg;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  a::after {
    content: attr(data-replace);
    padding-left: 2px;
    height: 100%;
    top: -2px;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: $color-bg;
  }

  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  a:hover::after {
    transform: translate3d(0, 0, 0);
  }

  a span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
}

.cmn-btn:hover {
  background-color: #f77984;
}

.navbar-btn {
  font-size: 1.2rem;
  height: 50px;

  @media (max-width: 570px) {
    font-size: 1rem;
  }

  @media (max-width: 500px) {
    font-size: 0.9rem;
    height: auto;
  }

  ul {
    height: 100%;
  }
}

.hamburger-btn {
  width: 100px;
  font-size: 1.2rem;
  padding: 10px;
}

.business-btn {
  width: 100px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 1130px) {
    top: 75%;
  }
  @media (max-width: 380px) {
    top: 83%;
  }

  span {
    width: 100%;
  }
}

.project-btn {
  width: 100px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;

  span {
    width: 100%;
  }
}

.subscribe-btn {
  width: 100px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  display: inline-flex;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  color: $color-nav;

  &:hover {
    color: $color-nav;
    font-weight: bold;
  }
}

.close-btn {
  --s: 40px;
  /* size */
  width: var(--s);
  aspect-ratio: 1;
  padding: calc(var(--s) * 0.1);
  box-sizing: border-box;
  background: radial-gradient(closest-side at 50% 12.5%, #b3404a 96%, #0000) top /
      20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #b3404a 96%, #0000) left/80% 20%
      repeat-x,
    conic-gradient(from 90deg at 33% 33%, #0000 90deg, #b3404a 0) 100% 100%/60%
      60% padding-box content-box;
  transform: translateZ(0) rotate(45deg);
  margin: 20px;
  cursor: pointer;
}
