.logo-box {
  height: auto;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: $font-logo;
  color: $color-main;
  text-align: left;
  cursor: pointer;

  svg {
    margin-right: 5px;
  }
}

.nav-logo-wrapper {
  width: 25%;
  min-width: 290px;
  padding-left: 3px;

  @media (max-width: 1024px) {
    min-width: 290px;
  }

  @media (max-width: 580px) {
    min-width: 230px;
  }
  @media (max-width: 400px) {
    min-width: 180px;
  }

  span {
    @media (max-width: 1024px) {
      font-size: 1.8rem;
    }

    @media (max-width: 580px) {
      font-size: 1.3rem;
    }
    @media (max-width: 400px) {
      font-size: 1rem;
    }
  }

  svg {
    @media (max-width: 1024px) {
      width: 50px;
      height: 50px;
    }

    @media (max-width: 580px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 400px) {
      width: 25px;
      height: 25px;
    }
  }
}

.company-data-logo {
  width: 25%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  background-color: $color-nav;

  @media screen and (max-width: 1200px) {
    width: 33.33%;
  }

  @media screen and (max-width: 650px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 470px) {
    width: 80%;
  }

  svg {
    @media screen and (max-width: 839px) {
      margin-left: 10%;
      min-height: 50px;
      min-width: 50px;
    }

    @media screen and (max-width: 495px) {
      margin-left: 5%;
    }
    @media screen and (max-width: 470px) {
      margin-left: 0;
    }
  }
}
