.dropdown-box {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -55%;
    background-color: $color-nav;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-transform: none;
    text-align: center;
    line-height: 30px;

    .donate-link {
      color: $color-text;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      position: relative;
      font-size: 1rem;
      font-weight: 600;

      &:hover {
        background-color: $color-hover;
      }

      &:link,
      :visited {
        color: $color-text;
      }

      &::before,
      &::after {
        content: none;
      }
    }
  }

  &:hover .dropdown-content {
    // display: block;
    display: flex;
    flex-direction: column;
  }
}
